html {
    margin: 0px !important;
    background-color: white;
}

body {
    font-family: 'Cuprum';
    overflow-x: hidden;
    background-color: #54afe2;
}

a, h1, p {
    color: white;
    text-decoration: none !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* Introdução */
.intro {
    background-color: #54afe2;
    color: white;
    margin-left: 3%;
}

.intro img {
    max-width: 80%;
    height: 100px;
}

.intro h1 {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 120px;
}

/* Início */
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.description {
    width: 100%;
    background-color: #54afe2;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 5%;
    margin-left: 4%;
}

.description p {
    font-size: 35px;
    color: white;
}

.want {
    margin-left: 1%;
    background-color: #D44A33;
    color: white;
    width: 240px;
    height: 100px;
    font-size: 70px;
    border-width: 0px;
}

.boat img {
    margin-top: -25%;
    margin-left: -30%;
}

@media screen and (max-width: 1024px) {
    .description {padding-top: 5%}
    .boat {display: none;}
}

.boat img {
    height: 100vh !important;
}

/* Prêmios */
.awards {
    padding-top: 5%;
    background-color: white;
    text-align: center;
    padding-bottom: 5%;
}

.awards h1 {
    color: #54afe2;
}

.awards a {
    color: #54afe2 !important;
    text-decoration: none !important;
    font-size: 25px;
}

/* Equipe */
#team {
    background-color: #54afe2;
    padding-top: 5%;
    padding-bottom: 5%;
}

#team p {
    color: white;
    margin-top: 1%;
    font-size: 20px;
}

.title-blue {
    color: #54afe2;
    margin-bottom: 4%;
}

.title {
    color: white;
    margin-bottom: 4%;
}

#team img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border-width: 5px;
    border-color: white;
    border-style: solid;

}

.person {
    margin-left: 2%;
    margin-right: 2%;
}

/* Contato */
.contact {
    background-color: #54afe2;
    padding-bottom: 5%;
}

.sub-title {
    color: white;
    margin-bottom: 2%;
}

.contact img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
}

.contact a {
    color: white;
}

/* Parceiros */
#partners {
    background-color: white;
    padding-top: 2%;
}

#partners h1 {
    color: #54afe2;
    margin-bottom: 4%;
}

#partners img {
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 50px;
}

#pd {
    height: 115px !important;
}

#ambev {
    margin-top: 40px;
}

.copyright {
    margin-top: 5%;
    color: #54afe2;
}