html {
    margin: 0px !important;
    background-color: black;
}

body {
    font-family: 'Cuprum';
    overflow-x: hidden;
    background-color: deepskyblue;
}

a, h1, p {
    color: white;
    text-decoration: none !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* Navbar */
.navbar {
    align-items: baseline;
}

.navbar a {
    color: black !important;
}

.navbar-brand img {
    max-width: 200px;
    max-height: 50px;
    margin-right: 10%;
}

.goto {
    flex-wrap: wrap;
    text-align: right;
}

@media screen and (max-width: 990px) {
    .goto {text-align: left}
}

.goto a {
    padding-right: 10%;
}

/* Início */
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.start {
    padding-left: 15px;
}

.description {
    width: 100%;
    background-color: deepskyblue;
    padding-top: 20%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 5%;
}

.description p {
    font-size: 45px;
    color: white;
}

.description img {
    width: 10%;
    height: 50px;
}

.boat {
    padding-left: 0% !important;
}

@media screen and (max-width: 1024px) {
    .description {padding-top: 5%}
    .boat {display: none;}
}

.boat img {
    height: 100vh !important;
}

/* Prêmios */
.awards {
    padding-top: 5%;
    background-color: white;
    text-align: center;
    padding-bottom: 5%;
}

.awards h1 {
    color: deepskyblue;
}

.awards a {
    color: deepskyblue !important;
    text-decoration: none !important;
    font-size: 35px;
}

/* Equipe */
#team {
    background-color: deepskyblue;
    padding-top: 5%;
    padding-bottom: 5%;
}

#team p {
    color: white;
}

.title {
    color: white;
    margin-bottom: 4%;
}

#team img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border-width: 5px;
    border-color: deepskyblue;
    border-style: solid;

}

.person {
    margin-left: 2%;
    margin-right: 2%;
}

#team p {
    margin-top: 1%;
    font-size: 20px;
}

/* Parceiros */
#partners {
    background-color: black;
    padding-top: 2%;
}

#partners h1 {
    color: gray;
    margin-bottom: 8%;
}

.copyright {
    margin-top: 10%;
}